<footer id="footer" class="footer">
    <div class="copyright">
        <span>
            <% if (theme.visit_counter) { %>
           
            <%- partial("../_plugins/site-visitor") %>
           
            <% } %>
        </span>
    </div>
</footer>
